@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap");
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0c1b33;
}
main {
  text-align: center;
}
h1 {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "EDPT" 100, "EHLT" 12;
  font-size: 3em;
  text-shadow: 2px 2px 20px #b2aa8e;
}
h2 {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #b2aa8e;
}
#cellContainer {
  width: 70%;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
}
#cellPlayer {
  width: 70%;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: -2em;
}
h3 {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 600;
  font-style: normal;
  margin-block: 5%;
  color: #b2aa8e;
}
.cell {
  width: 8%;
  border-radius: 10px;
}
.background {
  background-color: #faf892;
  color: #0c1b33;
}
button {
  background-color: #7a306c;
  border: none;
  border-radius: 10px;
  width: 20%;
  padding-block: 1em;
  color: #b2aa8e;
  font-size: 1.3em;
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
}
